@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: 	#DCDCDC;
    background-image: url("aset gambar/2204.jpg");
    background-repeat: no-repeat;  
}  
.main{
    border: 5px solid black;
    border-radius: 2rem;
    width: 750px;
    position: relative;
    margin: auto;
    top: 20px;
    background-color: grey;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}
.main img{
    position: absolute;
    width: 30%;
    bottom: -100px;
    left: -120px;
    z-index: 3;
}
.clear-input{
    position: absolute;
    right: 20px;
    top: 10px;
}
.clear-input i:hover{
    transform: rotate(45deg);
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
}
.line-break{
    border-top: 5px solid black;
    width: auto;
    margin-left: 0;
    z-index: 1;
    background-color: white;
}
#time{
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}
.header-time{
    justify-content: space-between !important;
    display: flex;
    margin: 10px 10px;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
form select{
    position: relative;
    top: -119px;
    left: 210px;
    cursor: pointer;
    background-color: white!important;
    color: black;
    border: 2px solid black!important;
}
form input{
    width: 600px;
    margin-right: 20px;
}
form input, form button, form select{
    padding: 0.5rem;
    background: white;
    font-size: large;
    position: relative;
}
.select{
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    background-color: grey;
    color: white;
    transition: all 0.5s ease;
}
.todo-container{
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    margin-top: 20px;
    width: 650px;
    list-style: none;
    align-self: center !important;
    z-index: 0;
    height: 350px;
    overflow-y: auto;
    background-color: black;
}
.todo-list::-webkit-scrollbar {
    width: 10px;
  }
.todo-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
.todo-list::-webkit-scrollbar-thumb {
    background: #888; 
  }
  /* Handle on hover */
.todo-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.todo{
    background-color: transparent;
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}
.todo::before{
    content: "$";
    color: red;
    margin-left: 1rem;
}
.todo li{
    flex: 1;
}
.check-btn, .remove-btn{
    color: black;
    border: none;
    border-radius: 0;
    padding: 1rem;
}
.todo-item{
    padding: 0 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    transition: all 0.3s ease;
    opacity: 0.8;
    z-index: -1;
    background-color: transparent;
}
footer{
  position: relative;
  color: red;
  font-weight: 600;
  top: -5px;
  z-index: 4;
  text-align: center;
}



@media(max-width: 1200px){
    .main{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    border-bottom-right-radius: 0.5rem;
    }
    
    h1{
        margin-top: 10px;
        font-size: 18px;
    }
    #time{
        font-size: 18px;
        margin-top: 10px;
    }
    
    .main img{
        width: 150px;
        left: -23px;
        z-index: 0;
        opacity: 1;
    }
    .input-container{
        margin-top: 15px;
    }
    form input{
        margin: 0 10px;
    }
    form button{
        margin-right: 10px;
    }
    form select{
        position: relative;
        top: 0;
        left: 0;
    }
    form input, form button, form select{
        padding: 5px;
    }
    .todo{
       background-color: transparent;
       font-weight: 500px;
       font-size: 20px;
       display: flex;
       flex-wrap: wrap;
    }
    .todo-list{
        height: 350px;
        overflow-y: auto;
        z-index: 0;
        padding: auto;
        margin-right: 10px;
        background-color: transparent !important;
        color: #181818 !important;
    }
    .todo{
        color:#181818 !important;
    }
    .todo-list::-webkit-scrollbar {
        display: none;
    }
    .todo-item{
        font-size: 15px;
        font-weight: 700;
    }
    .todo-item::after{
        content: '';
        position: absolute;
        width: 50%;
        background-color: white;
    }
    .check-btn, .remove-btn{
        padding: 5px;
    }
    footer{
        font-size: 13px;
        text-align: right;
        right: 30px;;
    }
}
